.textField {
    height: 48px;
    padding: 0.8rem;
    box-sizing: border-box;
    flex:1;
    outline: #2d95e3;
    border: 1px solid silver;
    border-radius: 5px 0px 0px 5px;
}

.btn{
    background-color: #2d95e3;
    color: white;
    outline: none;
    border: none;
    border-radius: 0px 5px 5px 0px;
    padding: 15px;
    box-sizing: border-box;
}

.transitionUp {
    transform: translateY(-12px); /* Adjust the value to control how much the text moves upward */
    transition: transform 0.3s ease; /* Adjust the duration and easing as needed */
  }